//
// Created by Ivan Kishchenko on 03.12.2021.
//

#pragma once

#define WIFI_SSID "wifi.ssid"
#define WIFI_PASS "wifi.pass"

#define MQTT_HOST "iot.crearts.xyz"
#define MQTT_ID "mqtt.client_id"
#define MQTT_USER "mqtt.user"
#define MQTT_PASS "mqtt.pass"
